{% extends '../layout/front.html' %}
{% load static %}
{% block content %}
{% include 'includes/carrucel.html' %}
      <div> 
        <center>
        <h1>Kath's Treasures</h1>
        <h4>Bienvenido a nuestra tienda en línea de consolas retro, donde podrás encontrar una amplia variedad de consolas y juegos clásicos para revivir tus momentos favoritos de la infancia y la juventud.<br><br>
          En nuestra tienda, nos apasiona el mundo de los videojuegos retro y sabemos que muchos de ustedes también lo disfrutan. Es por eso que trabajamos arduamente para encontrar y ofrecer los mejores productos de calidad a precios justos.<br><br>
          ¡Explora nuestra selección de consolas y juegos retro y descubre la magia de los videojuegos clásicos una vez más!<br><br><br>
        </h4>
      </center>
      </div>  
{% endblock %}




