<!DOCTYPE html>
<html lang="es" > {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuki Web - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    {% block styles %}  {% endblock %}
</head>
<body>
    {% include 'includes/navbar.html' %}

    {% block content %}



    
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block bloques_js %}{% endblock %} <!--para AÑADIR JS EN TODAS LAS PAGINAS O TRAER DE OTRAS -->

    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>